---
	import Shell from "./Shell.astro";
  import X from "../components/x.astro";
  const titlePrefix = 'Arcturus';
  const titleSeparator = ' | ';
  const {
    title, 
    description, 
    bodyClasses = 'arcturus', 
    theme,
  } = Astro.props;
---
<Shell 
  title={titlePrefix + titleSeparator + title}
  description={description} 
  bodyClasses={bodyClasses} 
  theme={theme}
>
  <slot name="htmlhead"></slot>
  <slot name="headerwrapper">
    <header>
      <slot name="contentheader">
        <X
          type="img"
          style="width: 250px;"
          class="mx-auto"
          iterations="0"
          duration="172800"
          trigger="visibleonce"
          fullNode="true"
          easing="linear"
          direction="normal"
          animations="transform: [rotate(360deg)]"
          source="logo.png"
        >
        </X>
        <X
          type="h1"
          class="text-center"
          iterations="0"
          duration="8640"
          delayBetween="300"
          trigger="visibleonce"
          fullNode="false"
          easing="linear"
          direction="alternate"
          fill="both"
          clean="true"
          animations="transform: [scale(1.05), scale(0.95), scale(1.1), scale(0.9)] | color: [#cae1f8, #89b0d6, #cbd7e4, #5298e2, #7ea1c5, #3081d3, #3fa6ff]"
        >
          ARCTURUS
        </X>
      </slot>
    </header>
  </slot>
  <slot name="mainwrapper">
    <main>
      <slot></slot>
    </main>
  </slot>
  <slot name="footerwrapper">
    <footer>
      <slot name="contentfooter">
      </slot>
    </footer>
  </slot>
</Shell>